<ion-header>
  <ion-navbar>
    <ion-title>
      Indicadores
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>{{mode}}</ion-label>
    <ion-label>Variacion</ion-label>
    <ion-select placeholder="Seleccionar..." okText="Aceptar" cancelText="Cancelar" (ionChange)="onVariacionChange()" [(ngModel)]="variacionElegida">
      <ion-option *ngFor="let v of variaciones" [value]="v">{{v}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Cantidad</ion-label>
    <ion-input [disabled]="variacionElegida == 'Diaria'" type="number" placeholder="5" [(ngModel)]="cantidadDetalle">
      
    </ion-input>
  </ion-item>
  <ion-card *ngFor="let indicador of indicadores">
    <ion-card-header>
      <h1 ion-text color="primary">
        <ion-row>
          <ion-col>
            <button ion-button icon-start clear>
              <ion-icon name="cash"></ion-icon>
              <h1>{{indicador.descripcion}}</h1>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear>
              <ion-icon name="trending-up"></ion-icon>
              <h2>{{indicador.variacionPorcentual | percent :'1.4-4'}}</h2>
            </button>
          </ion-col>
        </ion-row>
      </h1>
    </ion-card-header>
    <ion-card-content>
      <h2>Ultimas cotizaciones</h2>
      <ion-row *ngFor="let c of indicador.cotizaciones">
        <ion-col>
          {{formatDate(c.fechaHoraCotizacion)}}
        </ion-col>
        <ion-col>
          {{c.valorCotizacion | currency}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>