<ion-header>
    <ion-navbar>
        <ion-title>UVA HOY</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tirar para actualizar"
            refreshingSpinner="bubbles" refreshingText="Consultando cotizaciones...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-list-header>
            <ion-label>
                Indicador
            </ion-label>
            <ion-label>
                Ultimo
            </ion-label>
            <ion-label>
                % dia
            </ion-label>
            <ion-label>
                Ayer
            </ion-label>
        </ion-list-header>
        <ion-item *ngFor="let indicador of getIndicadoresVisibles()">
            <ion-label>
                {{indicador.descripcion}}
            </ion-label>
            <ion-label>
                {{indicador.valorCotizacion | currency}}
            </ion-label>
            <ion-label>
                {{indicador.variacionPorcentual | percent :'1.4-0'}}
            </ion-label>
            <ion-label>
                {{indicador.cotizacionPrevia | currency }}
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-card>
        <ion-card-header>
           
            <ion-card-title>Calculadora</ion-card-title>
        </ion-card-header>
        <ion-item>
            <ion-label>Valor</ion-label>
            <ion-input type="number" [(ngModel)]="calculadorValor" (change)="onIndicadorCalculadorChange()">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Expresado en</ion-label>
            <ion-select okText="Aceptar" cancelText="Cancelar" [(ngModel)]="indicadorCalculador"
                (ionChange)="onIndicadorCalculadorChange()">
                <ion-option *ngFor="let i of indicadores" [value]="i">{{i.descripcion}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-row *ngFor="let i of getIndicadoresVisiblesCalculador()">
            <ion-col>
                <span>{{i.descripcion}}</span>
            </ion-col>
            <ion-col>
                <ion-badge>{{i.valorCalculador | currency}}</ion-badge>
            </ion-col>
        </ion-row>

    </ion-card>
</ion-content>